.noithat header {
    position: relative;
    height: 936px;
    width: 100%;
    overflow: hidden;
    background: url("images/header.jpg") top center;
}

.top-header {
    clear: both;
    padding: 50px 0;
    position: relative;
}

.top-header:after {
    clear: both;
    content: "";
    display: table;
}

.top-header .logo {
    float: left;
    position: relative;

}
.top-header .logo img {
    width: 144px;
    height: 80px;
    display: block;
}

.top-header .logo p{
    position: absolute;
    bottom: 0;
    right: -25px;
    font-size: 20px;
    font-weight: bold;
    color: #3d3d3e;
    padding: 0;
    margin: 0;
}

.top-header nav {
    float: right;
}

.banner h1{
    font-size: 80px;
    color: #000;
    text-align: center;
    position: absolute;
    top: calc(50% - 80px);
    width: 100%;
}

.banner h1 span {
    color: #f66c27;
}

.noithat header img {
    max-width: 100%;
}

nav .header-menu {
    clear: both;
    list-style: none;
    padding: 0;
}

nav .header-menu:after {
    clear: both;
    content: "";
    display: table;
}

nav .header-menu li {
    float: left;
}

nav .header-menu li a {
    color: #8d8d8d;
    font-size: 20px;
    display: inline-block;
    padding: 25px;
    text-decoration: none;
}

footer {
    clear: both;
}
footer:after  {
    clear: both;
    content: "";
    display: table;
}
footer .contact-form{
    background: #f66c27;
    height: 710px;
    float: left;
    width: 50%;
}

footer .contact-form form {
    background: #FFF;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
footer .contact-info {
    float: right;
    height: 710px;
    width: 50%;
    padding: 90px;
}